/* basics */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}

body{
    background-color: #a6dbdb;
    margin-bottom: 6em;
    max-width: 100%;
}

header, footer{
    width: 100%;
}
header{
    background-color: #dba6db;
    padding: 1% 0%;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: #dba6db;
    text-align: center;
    padding: 1% 0%;
    display: block;
}

/* Organizacion de homescreen */
menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media screen and (max-width: 1000px) {
    menu{
        justify-content: center;
    }
    article *{
        text-align: center;
        line-height: 1;
        padding: 10px;
    }
    ol{
        line-height: 1.5;
    }
    article img{
        width: 70%;
    }
}


ul, menu{
    list-style-type: none;
}
h1, h2{
    text-align: center;
}
h2{
    padding: 1% 0;
}

.instrucciones, .ingredientes{
    border: 1em solid #dba6db;
    border-radius: 10px;
    padding: 3% 2.5%;
    margin: 2% 0%;
    list-style-position: inside;
}

form, form *{
    padding: 2% 0;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #dba6db;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #1c871c;
}

menu li{
    float: left;
    padding: .5%;
    background-color: #dba6db;
    border-radius: 1%;
    margin: .5%;
    text-align: center;
}

a{
    text-decoration: none;
    color: #000;
}

/* display secundario de informacion */

.container{
    display: table-cell;
    vertical-align: middle;
}
.img_wrap {
    position: relative;
}
  
.rec_info {
    position: absolute;
    padding-top: 25%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #dba6db;
    color: #000;
    visibility: hidden;
    opacity: 0;

  
    /* Efecto de transición */
    transition: opacity .2s, visibility .2s;
}
  
.img_wrap:hover .rec_info {
    visibility: visible;
    opacity: 1;
}

@media screen and (min-width: 1000px) {
    article, form{
        max-width: 1000px;
        margin: 0 auto;
    }
}
